#homesections {
    margin: 100px 0 0 0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-family: Italiana;
}

.homesection {
    width: 420px;
    padding: 20px;
    background: rgba(40,40,40,0.2);
}

.homesection h1 {
    padding: 0 0 4px 0;
    border-bottom: 1px solid rgb(150,0,0);
}

.homesection p {
    padding: 4px 0 0 0;
    color: rgb(150,150,150);
}

/* favicon icon */
/* need to make a new one with approprite sizes */
/* this one is too dark */

/*
#seal {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 500px;
    left: 100px;
    border-radius: 50%;
    background: rgb(50,0,0);
}

#seal p {
    font-family: Tangerine;
    font-size: 80px;
    color: rgb(220,0,0);
}

#vini {
    position: absolute;
    top: -2px;
    left: 0px;
}

#cini {
    position: absolute;
    top: 12px;
    left: 30px;
}
*/