/* reset default styles */

header, footer, nav, root {
    display: block;
}

html, body, main, header, footer, div, aside, h1, h2, h3, p, img, ul, li {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, p {
    font-style: none;
    font-weight: normal;
}

@charset "UTF-8";

/* main styles */

html {
    
    background: linear-gradient(-45deg, rgb(100,100,100), rgb(28,28,28) 20%); /*-145*/
}

body {
    width: 90%;
    height: 94%;
    margin: 2% auto 0 auto;
    color: rgb(220,220,220);
}

#mainheader {
    height: 70px;
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-flow: row;
}

#mainfooter {
    width: 100%;
    height: 60px;
    margin: 20px 0 0 0;
}

#mainheader h1 {
    height: 40px;
    font-family: Tangerine;
    font-size: 60px;
    color: rgb(160,0,0);
}

#mainheader p {
    height: 22px;
    margin: 16px 0 0 96px;
    font-family: Italiana;
    font-size: 14px;
    color: rgb(240,240,240);
}

#mainfooter p {
    width: 80%;
    margin: 0 auto;
    font-family: Rotobo;
    font-size: 14px;
}

/* navigation styles */

#mainnav {
    width: 100%;
    height: 30px;
    margin: 20px 0 20px 0;
    display: flex;
    flex-flow: row;
    border-radius: 20px;
    background: linear-gradient(0deg, rgb(0,0,0) 70%, rgb(180,180,180));
}

#mainnav a {
    width: 25%;
    height: calc(100% - 10px);
    padding: 3px 0 0 0;
    font-family: Poiret One;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: rgb(240,240,240);
    transition: color 0.2s;
}

#mainnav a:nth-child(n) {
    border: 1px solid rgb(20,20,20);
    border-top: 0px solid rgb(20,20,20);
    border-bottom: 0px solid rgb(20,20,20)
}

#mainnav a:first-child {
    border-left: 0px solid rgb(20,20,20);
}

#mainnav a:hover {
    color: rgb(160,0,0);
}

/* Button Styles */

.buttons {
    width: 100px;
    height: 20px;
    padding: 4px 0 0 0;
    font-family: Roboto;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    background: rgba(10,10,10,0.8);
}

.buttons a {
    text-decoration: none;
    color: rgb(200,200,200);
}

.buttons:hover a {
    color: rgb(0,100,0);
}

@media all and (max-width: 640px) {
    body {width: 100%;}
    #mainnav {width: 100%; height: 200px; flex-flow: column; background: none;}
    #mainnav a {width: 100%; height: 48px; padding: 10px 0 0 0; background: rgb(10,10,10);}
    #mainnav a:nth-child(n) {border-bottom: 1px solid rgb(40,40,40); border-left: none; border-right: none;}
    #mainnav a:first-child {border-top: 1px solid rgb(40,40,40);}
}