#videoscontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
/*    outline: 1px solid white;*/
}

.videoframe {
    width: 210px;
    height: 147px;
    margin: 10px;
    background: linear-gradient(0deg, rgb(20,20,20), rgb(50,50,50));
}


.videoframe img {
    width: 190px;
    height: 127px;
    margin: 10px 0 0 10px;
}

@media all and (max-width: 460px) {
    .videoframe {width: 360px; height: 247px; margin: 0;}
    .videoframe img {width: 340px; height: 227px;}
}